* {margin: 0;}
html, body {background-color: black; height: 100%;}
#maze {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-color: black;
}


#new-game-menu {
  position: relative;
  visibility: visible;
  background-color: blue;
  z-index: -1;
  width: 80%;
  left: auto;
  height: auto;
  top: auto;
  padding: 5%;
  color: lightgrey;
  -moz-box-shadow: 0 0 50px black;
  -webkit-box-shadow: 0 0 0px black;
  box-shadow: 0 0 20px black;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  opacity: 0;
}

input.chbox {
  width: 25px;
  height: 25px;
}

.header {
  background-color: black; 
  position: fixed;
  top: 100px;
  right: 200px;
  padding-top: 100px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
  background-color: lightgrey;
}
.header a {
  margin-top: 0px;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
}

.button {
  font-size: 18px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  margin: 5px;
}

.button:hover{
  background-color: rgb(126, 126, 126);
}

.buttons {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  margin: 20px;
}
